{
    "openapi": "3.0.0",
    "info": {
        "title": "Open edu Apis ",
        "contact": {
            "name": "Yosof Bayan",
            "url": "https://wa.me/+963967213544",
            "email": "yosofbayan75@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://open-edu-back.icrcompany.net/api/v1",
            "description": "Develop Base URL"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "local Base URL"
        }
    ],
    "paths": {
        "/admin/semesters/{semester}/academic-fees": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "get all academicFees",
                "operationId": "286da2c19f3c2d9f82ee6eb0a43f9de1",
                "parameters": [
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcademicFeeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "Create a new academicFee",
                "operationId": "72f8401fbc1ccbcdd88ec75a4a4ebd13",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAcademicFeeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcademicFeeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/academic-fees/{academicFee}": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "show an academicFee",
                "operationId": "82c0f71d55b2b67e79c69f016f279a7a",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "academicFee",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcademicFeeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "update an academicFee",
                "operationId": "b67717a4c61b8e86ee1f39018064e6ae",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "academicFee",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAcademicFeeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcademicFeeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/academic-fees/{id}": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "SoftDelete an existing academicFee",
                "operationId": "1e2e78d1a990bbaa5da1406cdb81c270",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/academic-fees/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "ForceDelete an existing academicFee",
                "operationId": "70023dd44583fe77e62060672bdf0db9",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/academic-fees/{id}/restore": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - AcademicFee"
                ],
                "summary": "Restore a soft-deleted academicFee",
                "operationId": "9fbd1ee7201124c8d66a2ba33a77a523",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/cities": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - City"
                ],
                "summary": "get all cities",
                "operationId": "aa73aca8f85ca1272b3a5f1a1d529fcf",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CityResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - City"
                ],
                "summary": "Create a new city",
                "operationId": "4db09153b9ca72e0c79a3284c8972e6d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CityResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/cities/{id}": {
            "post": {
                "tags": [
                    "Admin",
                    "Admin - City"
                ],
                "summary": "update an existing city",
                "operationId": "e207ecbe4d5f11cb17fb7e8e22eb095a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CityResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - City"
                ],
                "summary": "delete an existing city",
                "operationId": "a64d7287cb7fe93976dd258882f98d47",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/contact-messages": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - ContactMessage"
                ],
                "summary": "Get a list of contact messages",
                "operationId": "91fd0b0739acc5702289b2d74b7f5d87",
                "parameters": [
                    {
                        "name": "trash",
                        "in": "query",
                        "description": "pass is to get the trashed objects ",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of contact messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ContactMessageResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/contact-messages/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - ContactMessage"
                ],
                "summary": "force delete a contact message",
                "operationId": "73462d8d2ea7dc29e698d5088b7d7848",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact message to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact message soft deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "soft deleted"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/contact-messages/{id}": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - ContactMessage"
                ],
                "summary": "Soft delete a contact message",
                "operationId": "d93653d43f9fc3aba4d6b7f69881fc7e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact message to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact message soft deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "soft deleted"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/contact-messages/{id}/restore": {
            "patch": {
                "tags": [
                    "Admin",
                    "Admin - ContactMessage"
                ],
                "summary": "Restore a soft-deleted contact message",
                "operationId": "4e5212cb40e01d181e1c8f20af24da60",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the trashed contact message to restore",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact message restored",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactMessageResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/countries": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Country"
                ],
                "summary": "get all countries",
                "operationId": "5e3c867eb668b382d17e7ce007ea6205",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Country"
                ],
                "summary": "Create a new country",
                "operationId": "f6b5b6436e474eef04ffe8ca7041a671",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCountryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/countries/{id}": {
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Country"
                ],
                "summary": "update an existing country",
                "operationId": "dca707b4d0a35c5693eface56167b3cd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCountryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Country"
                ],
                "summary": "delete an existing country with all its cities",
                "operationId": "84d24bf6a07c4d1e46a04887c57a4d98",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/curriculums": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "get all curriculums",
                "operationId": "294036425ddc81da1d5ca83e35a16115",
                "parameters": [
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    },
                    {
                        "name": "semester_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "get semester curriculums"
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "student_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurriculumResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "Create a new curriculum",
                "operationId": "1ddbb4fe0c5659fe0feb81ab0a7b999b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCurriculumRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurriculumResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/curriculums/{id}": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "show one curriculum",
                "operationId": "74ad77d9726826d00205adeeed15899b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurriculumResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "update an existing curriculum",
                "operationId": "76150a1d69ef42af49728712c3361f06",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCurriculumRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CurriculumResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "SoftDelete an existing curriculum",
                "operationId": "c4df4a497149630e72ccd65451e88506",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/curriculums/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "ForceDelete an existing curriculum",
                "operationId": "180e5c14dbd4fe6ec74525c6d535252f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/curriculums/{id}/restore": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Curriculum"
                ],
                "summary": "Restore a soft-deleted curriculum",
                "operationId": "5b2001aff668d1d6736696ec73da65a8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/discount-types": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "get all discountTypes",
                "operationId": "acb41e0cbd2a052fe270af42f44a364e",
                "parameters": [
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountTypeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "Create a new discountType",
                "operationId": "fb1b5584c20a52d880c55b98e04e0da6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDiscountTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountTypeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/discount-types/{discountsType}": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "show a discountType",
                "operationId": "64715856fe0b52206595bd9fba6b44fa",
                "parameters": [
                    {
                        "name": "discountsType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountTypeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/discount-types/{id}": {
            "post": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "update an existing discountType",
                "operationId": "b091f4569b1cd497626b71d325616d3c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDiscountTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountTypeResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "SoftDelete an existing discountType",
                "operationId": "35e961b50b7de18f2b50643d3ec2563b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/discount-types/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "ForceDelete an existing discountType",
                "operationId": "5895407340cfadd93f7b65289fbd7071",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/discount-types/{id}/restore": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - DiscountType"
                ],
                "summary": "Restore a soft-deleted discountType",
                "operationId": "b0416c55ee4618c8841cd819f2206060",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/discounts": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "get all discounts",
                "operationId": "f2b7c35c57531531bc7ced8b8aa902b1",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "Create a new discount",
                "operationId": "a17bd6a61f0aa2836d4744a863ff956e",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDiscountRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/discounts/{discount}": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "show a discount",
                "operationId": "10f28998991068bce256c3c0aef56c4e",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "discount",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/discounts/{id}": {
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "update an existing discount",
                "operationId": "80d485aad490ee07e762ecece9755564",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDiscountRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "SoftDelete an existing discount",
                "operationId": "847b7d8e46300de0ae5f8183d298db8f",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/discounts/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "ForceDelete an existing discount",
                "operationId": "5b2a86e5e4e51e9422bc4f4632e84834",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/semesters/{semester}/discounts/{id}/restore": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Discount"
                ],
                "summary": "Restore a soft-deleted discount",
                "operationId": "6a492019c01c6d5824463a1a4183852b",
                "parameters": [
                    {
                        "name": "semester",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-infos": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "get all doctor academic infos",
                "operationId": "8445d06d901fe7522c15778bc9666308",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicInfoResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "Create a new doctor academic infos",
                "operationId": "bf701d4666cb68efc90feacd0823b4ab",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDoctorAcademicInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicInfoResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-infos/{academicInfo}": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "show a doctor academic infos",
                "operationId": "8032756c4eb440a9359ac946016150cf",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "academicInfo",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicInfoResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-infos/{id}": {
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "update an existing doctor academinc infos",
                "operationId": "ce8a888f49162c2a1c9e590becc237b3",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDoctorAcademicInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicInfoResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "SoftDelete an existing doctor academic infos",
                "operationId": "881fe471cdd6e98b64035d260d6487cc",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-infos/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "ForceDelete an existing doctor academic infos",
                "operationId": "60207ea0da1d19896cfa89e2acc535a9",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-infos/{id}/restore": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicInfo"
                ],
                "summary": "Restore a soft-deleted doctor academic infos",
                "operationId": "70a00be742a4c5ae1c677ddb75beb2e1",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-positions": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "get all doctor academic positions",
                "operationId": "317d1998153b4d52ef58485c589d7818",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicPositionResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "Create a new doctor academic position",
                "operationId": "c33f30148ffa4efae2c2139d0e27d2cf",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDoctorAcademicPositionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicPositionResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-positions/{academicPosition}": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "show a doctor academic position",
                "operationId": "94f875792d7a544e579504776ad45b02",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "academicPosition",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicPositionResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-positions/{id}": {
            "post": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "update an existing doctor academinc position",
                "operationId": "2f4c47fe84dbaf7af97d15be97c0c420",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "PUT",
                            "enum": [
                                "PUT"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDoctorAcademicPositionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAcademicPositionResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "SoftDelete an existing doctor academic position",
                "operationId": "a36906c2ddb80fa11f812619a6e31a06",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-positions/{id}/force": {
            "delete": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "ForceDelete an existing doctor academic position",
                "operationId": "2b5e937fdd62c16694adb94e168842dc",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/academic-positions/{id}/restore": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - AcademicPosition"
                ],
                "summary": "Restore a soft-deleted doctor academic position",
                "operationId": "648ff1d4e8212fe015d46149818a291d",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "Accept": "json/application"
                    }
                ]
            }
        },
        "/admin/doctors/{doctor}/achievements": {
            "get": {
                "tags": [
                    "Admin",
                    "Admin - Doctor - Achievement"
                ],
                "summary": "get all doctor academic achievements",
                "operationId": "6cac147873284208a873f2c0c39634ed",
                "parameters": [
                    {
                        "name": "doctor",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "trash",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "any"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "data base column name"
                        }
                    }
                ],
[...]
